<%- include header %>
<form method='post' action='/upload_logo' enctype='multipart/form-data' >
    <input type="file" name='authorLogo'/><br>
    <input type="submit" />
</form>
<%- include footer %>